<meta charset="utf-8">
<!-- 文字コードは特別なことがない限りUTF-8を基本とする -->
<meta name="viewport" content="width=device-width">
<!-- スマホ対応時のviewportの指定に気を付ける。 -->
<meta name="robots" content="">
<!-- 検索エンジンのクロールの可否の設定。影響は少ない。 -->
<meta name="format-detection" content="telephone=no">
<!-- iPhone向け機能。電話番号の自動リンク機能を制御することができる -->
<meta name="google" content="notranslate">
<!-- ページのコンテンツがユーザの言語と異なる際に翻訳版へのリンクが表示されることがある。結果的に多くのユーザにコンテンツを提供できるが、状況によっては望ましくないこともある。このタグでページの翻訳版を提供しないように設定することができる。 -->
<link rel="icon" href="">
<!-- ブラウザのアドレスバーなどに表示される小さなアイコン、ファビコンを指定することができる。 -->
<link rel="apple-touch-icon" href="">
<!-- 画像を指定することで、用意した画像をスマホのホーム画面にショートカットアイコンとして設置することができる。また、ルートパス等で指定すると機種によっては認識されない場合があるので絶対パスで指定すること。 -->
