@charset "utf-8";

// box-sizingのベンダープレフィックス
@mixin box-sizing($type:border-box) {
	-webkit-box-sizing:$type;
	-moz-box-sizing:$type;
	box-sizing:$type;
}

// box-shadowのベンダープレフィックス
@mixin box-shadow( $h: 10px , $v: 10px , $b: 0px , $s: 0px , $c: #000000 ) {
	-webkit-box-shadow: $h $v $b $s $c;
	-moz-box-shadow: $h $v $b $s $c;
	box-shadow: $h $v $b $s $c;
}

// 要素の座標を移動させる
@mixin xPos($x) {
	-webkit-transform:translateX($x);
	-moz-transform:translateX($x);
	-ms-transform:translateX($x);
	transform:translateX($x);
}
@mixin yPos($y) {
	-webkit-transform:translateY($y);
	-moz-transform:translateY($y);
	-ms-transform:translateY($y);
	transform:translateY($y);
}

// home_btn_01
// 変数 $color にはアイコンの色を代入して下さい。
// <a href=""><span><span></span></span></a>
@mixin home_btn_01($color:#333) {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -20px 0 0 -20px;
	span {
	  position:relative;display:block;width:40px;height:40px;
	}
	> span {
	  display:block;width:40px;height:40px;
	   &:before {
	     content:'';height:0px;width:0px;display:block;position:absolute;top:12px;left:6px;border:14px solid transparent;border-bottom-color:$color;border-top:0;transform:scale(1,0.8);-webkit-transform:scale(1,0.8);-moz-transform:scale(1,0.8);-o-transform:scale(1,0.8);-ms-transform:scale(1,0.8);
	   }
	   &:after {
	     content:'';height:12px;width:11px;display:block;position:absolute;top:24px;left:7px;border:8px $color solid;border-top-width:4px;border-bottom:0;
	   }
	   > span {
	     &:before {
	       content:'';height:10px;width:5px;display:block;position:absolute;top:6px;left:28px;background:$color;
	     }
	     &:after {
	       content:'';height:24px;width:23px;border-top:5px $color solid;border-right:5px $color solid;position:absolute;top:6px;left:6px;transform:scale(1,0.8) rotate(-45deg);-webkit-transform:scale(1,0.8) rotate(-45deg);-moz-transform:scale(1,0.8) rotate(-45deg);-o-transform:scale(1,0.8) rotate(-45deg);-ms-transform:scale(1,0.8) rotate(-45deg);
	     }
	   }
	}
}

// link_icon_tri
// 変数 $color にはアイコンの色、$size にはアイコンの大きさ、$margin には表示領域の右側と底側からの距離を代入して下さい。
// <a href=""><span class="link_icon"><span></span></span></a>
@mixin link_icon_tri($color:#333,$size:40px,$margin:5px){
	position:absolute;
	bottom:$margin;
	right:$margin;
	span {
		position:relative;display:block;width:$size;height: $size;
		&:before {
			content:"";width:0;height:0;display:block;border:$size transparent solid;border-top-width:0;border-right-width:0;border-bottom-color:$color;position:absolute;top:0px;left:0px;
		}
	}
}